include *.txt
global-exclude *.ipynb
recursive-include docs *.ipynb
recursive-include docs *.md
recursive-include docs *.py
recursive-include docs *.txt
recursive-include labmate *.bat
recursive-include labmate *.py

exclude tests
global-exclude trash.*
global-exclude *.pyc
