[data-md-color-scheme='default'] {
  --md-primary-fg-color: #0b5394;
  --md-primary-fg-color--dark: #0c67b6;
  --md-footer-fg-color: #ffd900;
  --md-footer-bg-color--dark: #ffd900;
  --md-footer-bg-color: #ffd900;
  --md-footer-fg-color--lighter: #666;
  --md-footer-fg-color--light: #444;
}

[data-md-color-scheme='slate'] {
  --md-primary-fg-color: #ffd900;
  --md-primary-fg-color--dark: #0b5394;

  --md-primary-bg-color: #000;
  --md-footer-fg-color: #0b5394;
  --md-footer-bg-color--dark: #083b68;
  --md-footer-bg-color: #083b68;
}

.md-header__button.md-logo {
  margin: 0;
  padding: 0 1rem;
  height: 100%;
  /* background-color: #041f36; */
}
.md-header__button.md-logo img {
  height: 2.4rem;
}
